* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#container {
    width: 540px;
    height: 540px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

#displays{
    padding: 10px;
    background-color: #49516F;
    border: 1px solid black;
}

#display {
    height: 80px;
    background-color: #8EA4D2;
    text-align: right;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
}

#buttons {
    height: 100%;
    background-color: #49516F;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-areas: 
    "btn-7 btn-8 btn-9   btn-div   btn-clear"
    "btn-4 btn-5 btn-6   btn-mult  btn-del  "
    "btn-1 btn-2 btn-3   btn-minus btn-equal"
    "btn-0 btn-0 btn-dot btn-plus  btn-equal";
    gap: 4px;
    justify-content: center;
    align-content: center;
}

.btn {
    font-size: 45px;
    border: none;
}

.btn:hover{
    font-size: 50px;
}

.btn-1 {
    grid-area: btn-1;
}

.btn-2 {
    grid-area: btn-2;
}

.btn-3 {
    grid-area: btn-3;
}

.btn-4 {
    grid-area: btn-4;
}

.btn-5 {
    grid-area: btn-5;
}

.btn-6 {
    grid-area: btn-6;
}

.btn-7 {
    grid-area: btn-7;
}

.btn-8 {
    grid-area: btn-8;
}

.btn-9 {
    grid-area: btn-9;
}

.btn-0 {
    grid-area: btn-0;
}

.btn-plus {
    grid-area: btn-plus;
}

.btn-minus {
    grid-area: btn-minus;
}

.btn-div {
    grid-area: btn-div;
}

.btn-mult {
    grid-area: btn-mult;
}

.btn-equal {
    grid-area: btn-equal;
}

.btn-del {
    grid-area: btn-del;
}

.btn-dot {
    grid-area: btn-dot;
}

.btn-clear{
    grid-area: btn-clear;
    color: white;
}

.bg-clr-std {
    background-color: #8EA4D2;
}

.bg-clr-red {
    background-color: #D8315B;
}

.bg-clr-yellow {
    background-color: #EDCB96;
}

.bg-clr-green {
    background-color: #6BAA75;
}

.bg-clr-black {
    background-color: #0e103d;
}